.brochure {
	pointer-events: none;
	background-color: #000;
	// position: fixed;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%,-50%);
	height: calc(var(--vh) * 4);
	// margin-top: calc(-100vh - 200px);
	position: relative;
	margin-top: calc(var(--vh) * -1);
	// z-index: 21;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	@include _1199-block {
		height: calc(var(--vh) * 3);
	}
	// transition: opacity 0.5s ease-out;
	&.progress-hide {
		opacity: 0 !important;
		visibility: hidden !important;
		pointer-events: none !important;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: var(--vh);
		object-fit: cover;
		z-index: 2;
		object-position: center 60px;
		// background-color: rgba(0, 0, 0, 0.9);
		// opacity: 0;
		// visibility: visible;
		// transition: 0.5s opacity, 0.5s visibility;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		// -webkit-transform: translateZ(0);

		&-dark {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: var(--vh);
			object-fit: cover;
			object-position: center 60px;
			z-index: 1;
			// background-color: rgba(0, 0, 0, 0.9);
			// opacity: 0;
			// visibility: visible;
			// transition: 0.5s opacity, 0.5s visibility;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}
	&.show {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		z-index: 21;
	}

	&__content {
		// position: sticky;
		// top: 0;
		height: 100vh;
		padding: 100px 0;
		width: 100vw;
		overflow: hidden;
		z-index: 5;
		transform: translateZ(100px);
		&.show {
			.brochure__title {
				.char {
					&::after {
						transform: translateX(0);
					}
					&:before,
					&:after {
						transition: transform 1s cubic-bezier(0.9, 0, 0.2, 1);
						transition-delay: calc(0s + (0.05s * (var(--char-index))));
					}

					&:before {
						transition-delay: calc(0.05s * (var(--char-index)));
					}
				}
			}
			.brochure__subtitle {
				.char {
					transform: translateX(0);
					opacity: 1;
					transition-delay: calc(0ms + var(--char-index) * 0.01s);
					transition-duration: 0.8s;
				}
			}
			.brochure__bg {
				opacity: 0;
				visibility: hidden;
			}
			.brochure__bg-dark {
				opacity: 1;
				visibility: visible;
			}
			.brochure__video {
				transform: scale(1);
				opacity: 1;
				visibility: visible;
				transition-delay: 0.5s;
			}
			.brochure__video-mob {
				transform: scale(1);
				opacity: 1;
				visibility: visible;
				transition-delay: 0.5s;
			}
			.brochure__block {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
				transition-delay: 3.5s;
				@include _1199-block {
					transition-delay: 0.5s;
				}
			}
			.brochure__header {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}
		@include _991-block {
			height: var(--vh);
		}
	}

	&__header {
		position: relative;
		z-index: 1;
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
		transform-origin: top;
		transform: translateY(-40%);
		opacity: 0;
		visibility: hidden;
		transition: 0.5s opacity, 0.5s visibility, 0.5s transform;
		@media (max-width: 991.98px) {
			margin-bottom: 30px;
			&::after {
				content: "";
				position: absolute;
				bottom: -20px;
				left: 50%;
				transform: translateX(-50%);
				width: 88px;
				height: 1px;
				background-color: var(--primary);
			}
		}
	}
	&__title {
		font-weight: 400;
		font-size: 100px;
		line-height: 100%;
		text-transform: uppercase;
		color: var(--primary);
		.char {
			overflow: hidden;
			color: transparent;

			&:before,
			&:after {
				visibility: visible;
				color: var(--primary);
				transition: transform 0.2s cubic-bezier(0.9, 0, 0.2, 1);
				transition-delay: calc(0.05s + (0.05s * (var(--char-index))));
			}

			&:before {
				color: var(--primary);
				transition-delay: calc(0.005s * (var(--char-index)));
			}
		}

		.char:before {
			transform: translateX(110%);
		}

		.char:after {
			transform: translateX(110%);
		}

		@media (max-width: 767.98px) {
			font-size: 50px;
		}
		@media (max-width: 479.98px) {
			font-size: 26px;
		}
	}
	&__subtitle {
		color: var(--color-white);
		font-size: 24px;
		.word {
			overflow: hidden;
		}

		.char {
			display: inline-block;
			transition-delay: calc(0ms + var(--char-index) * 0.004s);
			transition-duration: 0.3s;
			transform-origin: 0 50%;
			transform: translateY(30%);
			opacity: 0;
		}

		@media (max-width: 767.98px) {
			font-size: 20px;
		}
		@media (max-width: 479.98px) {
			font-size: 16px;
		}
	}
	&__block {
		position: relative;
		z-index: 3;
		transform: translateY(40%);
		opacity: 0;
		visibility: hidden;
		transition: 0.5s opacity, 0.5s visibility, 0.5s transform;

		// .bio-scrollto {
		// 	bottom: 0;
		// }
	}
	&__form {
		@include flex(center, flex-end);
		color: var(--color-white);
		@include _991-block {
			flex-direction: column;
			align-items: center;
			max-width: 500px;
			margin: 0 auto;
			transform: scale(0.8);
			transform-origin: top;
		}
		&-input {
			background-color: transparent;
			border: none;
			color: var(--color-white);
			&:focus {
				background-color: transparent;
				box-shadow: none;
				color: var(--color-white);
			}
			&::placeholder {
				color: var(--color-white);
			}
			&-wrapper {
				position: relative;
				margin: 0 10px;
				@include _991-block {
					margin: 0;
					width: 100%;
				}
			}
		}
		&-line {
			position: absolute;
			bottom: 0;
			height: 1px;
			width: 100%;
			background-color: var(--color-white);
			opacity: 0.5;
		}
		&-btn {
			padding: 14px;
			color: var(--color-black);
			@include flex;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			background-color: var(--primary);
			white-space: nowrap;
			&-wrapper {
				margin: 0 10px;
				@include _991-block {
					margin: 20px 0;
				}
			}
			&-icon {
				margin-left: 10px;
				// filter: invert(2);
			}
		}
	}

	&__video {
		position: absolute;
		// top: -20%;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 50px);

		z-index: 2;
		opacity: 0;
		visibility: hidden;
		transform: scale(1.5);
		transition: 0.5s opacity, 0.5s visibility, 0.5s transform;
		will-change: mix-blend-mode;
		// z-index: 0;
		@include _991-block {
			top: auto;
			bottom: 0;
			position: relative;
			margin-top: -23%;
		}

		@supports (-webkit-hyphens: none) {
			mix-blend-mode: lighten;
		}
	}
	&__video-mob {
		position: relative;
		// top: -20%;
		top: 0;
		left: 0;
		width: 100%;
		height: 200px;

		z-index: 2;
		opacity: 0;
		visibility: hidden;
		transform: scale(1.5);
		transition: 0.5s opacity, 0.5s visibility, 0.5s transform;
		will-change: mix-blend-mode;
		&-hidden {
			position: absolute;
			top: 0;
			opacity: 0;
			visibility: hidden;
		}
		// z-index: 0;
		@include _991-block {
			top: auto;
			bottom: 0;
			position: relative;
			margin-top: -23%;
		}

		@supports (-webkit-hyphens: none) {
			mix-blend-mode: lighten;
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;
			transform: scale(0.8);
			transform-origin: bottom;
		}
	}
	&__thank {
		&-block {
			// position: absolute;
			position: relative;
			text-transform: uppercase;
			width: max-content;
			margin-left: auto;
			margin-top: 13vw;
			visibility: hidden;
			opacity: 0;
			z-index: 2;
			@include _991-block {
				display: none;
			}
		}
		&-title {
			font-weight: 400;
			font-size: 50px;
			line-height: 120.93%;
			color: var(--primary);
		}
		&-subtitle {
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
			color: var(--color-white);
		}
	}
	// #brochure-canvas {
	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// }
}
