//====================================================================================================

//====================================================================================================

.gallery {
  padding: 70px 30px 30px 30px;
  position: relative;
  height: 100vh !important;
  // .gallery__wrapper
  @media (max-width: 991.98px) {
    height: 100% !important;
    min-height: 100vh;
    padding: 70px 16px 16px 16px;
  }
  &__hidden {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    @media (max-width: 991.98px) {
      height: 100%;
    }
  }
  &__wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
    @media (max-width: 991.98px) {
      flex-direction: column;
      position: relative;
      gap: 16px;
      padding-bottom: 0px;
    }
  }
  // .gallery__left

  &__left {
    width: 100vw;
    flex: 0 0 100%;
    @media (max-width: 991.98px) {
      flex-basis: auto;
      width: 100%;
      height: calc(var(--vh) - 84px);
    }
  }

  // .gallery__right

  &__right {
    flex: 0 0 100%;
    display: flex;
    gap: 30px;
    // width: 50vw;
    background-color: #f3f2ef;
    overflow: hidden;
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }
}
.wrapper-gallery {
  &__one {
    z-index: 9;
    @media (max-width: 991.98px) {
      transform: translateX(0);
    }
  }
  &__two {
    z-index: 10;
    transform: translateX(200%);
    @media (max-width: 991.98px) {
      transform: translateX(0);
    }
  }
}
.left-gallery__img_one {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.left-gallery {
  // .left-gallery__img
  @media (max-width: 991.98px) {
    display: none;
  }
  &__img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.left-gallery__two {
  opacity: 0;
}
.right-gallery {
  // .right-gallery__content
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  &__content {
    flex: 1 0 50%;
  }

  &__left {
    flex: 0 0 50%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
    @media (max-width: 991.98px) {
      height: calc(var(--vh) - 84px);
      flex: auto;
      // flex-basis: 0 !important;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: 991.98px) {
        position: absolute;
        top: 0;
        left: 0;
        // object-fit: contain;
        // scale: 0.9;
      }
    }
  }

  // .right-gallery__subtitle

  &__subtitle {
    h2 {
      font-size: 24px;
      line-height: 1.21;
      text-transform: uppercase;
      color: #919191;
      @media (max-width: 479.98px) {
        font-size: 18px;
      }
    }
  }

  // .right-gallery__title

  &__title {
    max-width: 680px;
    margin-bottom: 20px;
    @media (max-width: 479.98px) {
      margin-bottom: 15px;
    }
    h3 {
      font-size: 50px;
      line-height: 1.22;
      text-transform: uppercase;
      color: #000000;
      @media (max-width: 479.98px) {
        font-size: 28px;
      }
    }
  }
  &__texts {
    // display: flex;
    // flex: 1 1 50%;
    // gap: 20px;
    margin-bottom: 27px;
    padding-right: 24px;
    @media (max-width: 479.98px) {
      // flex-direction: column;
      // gap: 15px;
      margin-bottom: 15px;
      padding-right: 0;
    }
  }
  &__text {
    // display: flex;
    // justify-content: center;

    p {
      // max-width: 446px;
      font-size: 16px;
      line-height: 130%;
      color: #000000;
      padding-right: 30px;
      @media (max-width: 479.98px) {
        padding-right: 0px;
      }
    }
  }

  // .right-gallery__card

  &__card {
  }
  &__cards {
    display: grid;
    width: 100%;
    background-color: #f3f2ef;
  }
}
.card-right-gallery {
  // .card-right-gallery__img
  margin-bottom: 10px;
  width: 100%;
  justify-self: center;
  &:last-child {
    display: none;

    @media (max-width: 991.98px) {
      display: block;
      & .card-right-gallery__img {
        height: calc(var(--vh) / 2);
        & .shadow-gallery {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__img {
    position: relative;
    padding-bottom: 53%;
    margin-bottom: 15px;
    img {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      line-height: 0;
    }
  }

  // .card-right-gallery__text
}

.gallery {
  // .gallery__shadow

  &__shadow {
  }
}
.shadow-gallery {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  > *:not(:last-child) {
    margin-bottom: 10px;
  }

  // shadow-gallery__heading
  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  // .shadow-gallery__sub-title
  &__sub-title {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #f3f2ef;
    @media (max-width: 479.98px) {
      font-size: 18px;
    }
  }

  // .shadow-gallery__title

  &__title {
    font-size: 50px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #f3f2ef;
    @media (max-width: 479.98px) {
      font-size: 28px;
    }
  }

  &__btn {
    width: 120px;
    height: 120px;
    position: relative;
    @media (max-width: 479.98px) {
      height: 80px;
      width: 80px;
    }
    img {
      object-fit: cover;
      // width: 100px;
      // height: 100px;
    }
  }
}
