// intro
.intro-section {
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: var(--vh);
    // opacity: 0;
    // visibility: hidden;
    transition: opacity 0.5s ease-in;

    &-show {
        opacity: 1;
        visibility: visible;
    }

    &__inner {
        opacity: 0;
        visibility: hidden;
        position: relative;
        z-index: 3;
    }

    &__bg {
        width: 100%;
        // height: 100%;
        height: var(--vh);
        position: absolute;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__pl {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($cb, 0.75);
    }

    &__container {
        padding: 104px 30px 30px;
        width: 100%;
        height: var(--vh);
        position: relative;
        color: $cw;
        display: grid;
        grid-template-areas:
            "a a"
            "b c"
            "d c";
        grid-template-rows: 1fr auto auto;

        @include _767-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    // text
    &__text {
        grid-area: d;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include _991-block {
            padding-right: 30px;
        }

        @include _767-block {
            text-align: center;
            display: block;
            padding-right: 0;
            margin-bottom: 30px;
        }

        @include _575-block {}
    }

    &__sub-title {
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
        color: $cw;
        margin-bottom: 0;

        @include _991-block {
            font-size: 20px;
        }

        @include _575-block {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    &__title {
        font-size: 50px;
        line-height: 120%;
        text-transform: uppercase;
        color: $cw;

        @include _991-block {
            font-size: 40px;
        }

        @include _575-block {
            font-size: 30px;
        }
    }

    &__description {
        max-width: 530px;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 40px;

        @include _767-block {
            max-width: 100%;
        }

        @include _575-block {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }

    // more
    &__more-btn-wrap {
        grid-area: d;
        padding-bottom: 10px;

        @include _767-block {
            padding-bottom: 0;
            margin-bottom: 102px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include _575-block {
            order: 3;
            margin-bottom: 0;
        }
    }

    &__more-btn {
        display: inline-flex;
        align-items: center;
        font-size: 18px;
        line-height: 150%;
        color: $cw;
        text-decoration: none;
        justify-content: center;

        &-text {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                right: 0;
                width: 40%;
                height: 1px;
                background-color: rgba($cw, 0.5);
                transition: width 0.6s $transition;
            }
        }

        svg {
            margin-left: 15px;
            transition: transform 0.6s $transition;
        }

        &:hover {
            color: $cw;

            .intro-section__more-btn-text {
                &::after {
                    width: 100%;
                }
            }

            svg {
                transform: translateX(10px);
            }
        }
    }

    // info
    &__info {
        grid-area: a;
        display: flex;
        justify-content: flex-end;

        @include _991-block {
            justify-content: center;
        }

        @include _767-block {
            align-items: center;
        }
    }

    // 3d
    &__btn-3d {
        grid-area: c;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: 135px;

        @include _767-block {
            // align-items: center;
            // justify-content: center;
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            // opacity: 0;
            // visibility: hidden;
            justify-content: center;
            margin-bottom: 30px;
        }
    }

    &__btn-3d {
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: opacity 1.2s 1.6s $transition, visibility 1.2s 1.6s $transition, transform 1.2s 1.6s $transition;

        @include _767-block {
            transition: opacity 1.2s 1.2s $transition, visibility 1.2s 1.2s $transition, transform 1.2s 1.2s $transition;
        }
    }


    &-show {
        .intro-section__btn-3d {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

}

.intro-scroll-down {
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: 999;
    padding-bottom: 30px;
    padding-left: 30px;
    text-decoration: none;
    height: 52px;
    text-align: left;
    cursor: default !important;

    @include _767-block {
        left: 50%;
        right: auto;
        padding-left: 15px;
        height: 72px;
    }

    &__line {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
        background-color: rgba($cw, 0.25);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba($cw, 1) 50%, rgba($cw, 0) 50%);
            background-position: 0 -52px;
            background-size: 100% 200%;
            animation: scrolldown 2s $transition forwards infinite;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 120%;
        text-transform: uppercase;
        color: $cw;

        @include _767-block {
            font-size: 16px;
        }
    }


}


@keyframes scrolldown {
	0% {
		background-position: 0 -52px;
	}

	75% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 52px;
	}
}

// intro-info
.intro-info {
    padding: 50px 0 30px;

    @include _767-block {
        padding-top: 0;
    }

    @include _575-block {
        padding-bottom: 15px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -60px;

        @include _991-block {
            margin-left: -30px;
        }

        @include _767-block {
            display: block;
            margin-left: 0;
            text-align: center;
        }
    }

    &__item {
        padding-left: 60px;
        margin-bottom: 20px;

        @include _991-block {
            padding-left: 30px;
        }

        @include _767-block {
            padding-left: 0;
        }
    }

    &__value {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F3F2EF;

        @include _991-block {
            font-size: 20px;
        }

        @include _575-block {
            font-size: 14px;
            line-height: 100%;
        }
    }

    &__name {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F3F2EF;
    }
}

