<div id="popupT" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<div class="popup__main main-popup">
				<div class="main-popup__body">
					<div class="main-popup__sub-title _popup-sub-title main-popup__animation-text main-popup-anim">Your Dream Home
						Awaits:</div>
					<div class="main-popup__title _popup-title main-popup__animation-text main-popup-anim">Download All Floor plans
						and price list for keturah reserve</div>
					<div class="main-popup__text main-popup__animation-text main-popup-anim">
						<p>Don't miss out on your chance to find your perfect home. Download all the available floor plans and price
							list. Start visualizing your ideal space today!</p>
					</div>
				</div>
				<form onsubmit="ym(93081315,'reachGoal','form')" data-gtag-submit="popup"
					class="main-popup__form form-main-popup">
					<div class="form-main-popup__item form-main-popup__animation">
						<input autocomplete="off" type="text" name="name" required placeholder="Your name"
							class="form-main-popup__input" />
					</div>
					<div class="form-main-popup__item form-main-popup__animation">
						<input autocomplete="off" type="email" name="email" required placeholder="Your e-mail"
							class="form-main-popup__input" />
					</div>
					<div class="form-main-popup__item form-main-popup__animation">
						<input autocomplete="off" type="tel" name="phone" required placeholder="Phone number"
							class="form-main-popup__input" />
					</div>
					<input type="hidden" name="project" value="keturah_reserve_at_meydan" />
					<input type="hidden" name="description" value="page_form" />
					<input type="hidden" name="duration" class="duration" value="" />
					<input type="hidden" name="pasted_fields" class="pasted_fields" value="" />
					<input type="hidden" name="language" value="en" />
					<input type="hidden" name="current_page" value="" />
					<div class="form-main-popup__btn-wrapper form-main-popup__animation">
						<button type="submit" class="form-main-popup__btn">
							<p>download</p>
							<img loading="lazy" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/modal/arrow.svg" alt="" />
						</button>
					</div>
				</form>
			</div>
			<div class="popup__footer footer-popup">
				<div class="footer-popup__body">
					<div class="footer-popup__text footer-popup__animation">CONTACT US</div>
					<div class="footer-popup__socials">
						<a class="footer-popup__social social-footer-popup social-footer-popup_phone footer-popup__animation  phone-replace-only"
							href="" onclick="ym(93081315,'reachGoal','call')">
							<div class="social-footer-popup__icon">
								<img loading="lazy" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/modal/phone.svg" alt="" />
							</div>
							<div class="social-footer-popup__text">+971 xxx xx xx</div>
						</a>
						<a class="footer-popup__social social-footer-popup social-footer-popup_telegram footer-popup__animation event_tg"
							onclick="ym(93081315,'reachGoal','telegram')" href="https://t.me/Sales_office_en_bot">
							<div class="social-footer-popup__icon">
								<img loading="lazy" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/modal/tg.svg" alt="" />
							</div>
							<div class="social-footer-popup__text">Telegram</div>
						</a>
						<a class="footer-popup__social social-footer-popup social-footer-popup_whatsapp footer-popup__animation event-wp event_wp"
							onclick="ym(93081315,'reachGoal','whatsapp')" href="">
							<div class="social-footer-popup__icon">
								<img loading="lazy" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/modal/wp.svg" alt="" />
							</div>
							<div class="social-footer-popup__text">WhatsApp</div>
						</a>
					</div>
				</div>
			</div>
			<button type="button" class="popup__close close-popupT">
				<span class="popup__close_one"></span>
				<span class="popup__close_two"></span>
			</button>
		</div>
		<div class="popup__close-popup close-popupT"></div>
	</div>
</div>