<div class="popup3 popUp" id="two">
	<div class="popup3__wrapper">
		<div class="popup3__body">
			<div class="popup3__media">
				<video autoplay muted="false" playsinline="true" src=""></video>
				<span></span>
			</div>
			<div class="popup3__content">
				<div class="main-popup3__sub-title _popup-sub-title popup3__animation-content">@@subTitle</div>
				<div class="main-popup3__title _popup-title popup3__animation-content">@@title</div>
				<form onsubmit="ym(93081315,'reachGoal','form')"   data-gtag-submit="popup" class="main-popup__form form-main-popup">
					<div class="form-main-popup__item popup3__animation-content">
						<input autocomplete="off" type="text" name="name" required placeholder="Your name" class="form-main-popup__input" />
					</div>
					<div class="form-main-popup__item popup3__animation-content">
						<input autocomplete="off" type="email" name="email" required placeholder="Your e-mail" class="form-main-popup__input" />
					</div>
					<div class="form-main-popup__item popup3__animation-content">
						<input autocomplete="off" type="tel" name="phone" required placeholder="Phone number" class="form-main-popup__input" />
					</div>
					<input type="hidden" name="project" value="keturah_reserve_at_meydan" />
					<input type="hidden" name="description" value="page_form" />
					<input type="hidden" name="duration" class="duration" value="" />
					<input type="hidden" name="pasted_fields" class="pasted_fields" value="" />
					<input type="hidden" name="language" value="en" />
					<input type="hidden" name="current_page" value="" />
					<div class="popup3__animation-content popup3__animation-content_btn">
						<button type="submit" class="form-main-popup__btn">
							<p>@@btn</p>
							<img loading="lazy" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/modal/arrow.svg" alt="" />
						</button>
					</div>
				</form>
			</div>
			<button type="button" class="popup3__close close-popup">
				<span class="popup__close_one"></span>
				<span class="popup__close_two"></span>
			</button>
		</div>
		<div class="popup__close-popup close-popup"></div>
	</div>
</div>
