<section class="agency">
	<div class="scrollto-agency" id="agency"></div>
	<div class="agency__content-wrapper">
		<div class="agency__content">
			<div class="agency__container container">
				<div class="agency__title-wrapper">
					<h2 class="agency__subtitle main-subtitle">AX CAPITAL</h2>
					<h3 class="agency__title main-title">innovative real estate agency in Dubai</h3>
				</div>
			</div>
			<div class="agency__video-wrapper">
				<video data-src="https://d3b6muno9lbfvx.cloudfront.net/keturah/files/video/agency.mp4" data-src-mob="https://d3b6muno9lbfvx.cloudfront.net/keturah/files/video/agency.mp4" class="agency__video main lazy" loop playsinline="true" muted></video>
			</div>
		</div>
	</div>
	<div class="agency__info-wrapper">
		<div class="agency__info">
			<ul class="agency__list">
				<li class="agency__item">
					<span class="agency__item-title"></span>
					<span class="agency__item-text"></span>
				</li>
				<li class="agency__item">
					<span class="agency__item-title">30+</span>
					<span class="agency__item-text">Languages</span>
				</li>
				<li class="agency__item">
					<span class="agency__item-title">500+</span>
					<span class="agency__item-text">Specialists</span>
				</li>
				<li class="agency__item">
					<span class="agency__item-title">5000+</span>
					<span class="agency__item-text">Offers in the Database</span>
				</li>
				<li class="agency__item">
					<span class="agency__item-title"></span>
					<span class="agency__item-text"></span>
				</li>
			</ul>
		</div>
	</div>
	<div class="agency__text-container container">
		<div class="agency__text-wrapper">
			<p>Partnerships with customers are the basis of our business. We know how to listen and hear, dedicate ourselves to solving your problems, take into consideration all the details, and only recommend the right properties.</p>
			<p>As your partner in property, we always act with integrity when it comes to trust and leverage deep insights to achieve outcomes that hold the utmost significance for you. As a trusted advisor, we bring our full depth and breadth to focus on your challenges.</p>
		</div>
	</div>
	<div class="agency__form-wrapper">
		<div class="agency__text-img">
			<img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/agency-bg.jpg" alt="photo" />
		</div>
		<div class="agency__form-container">
			<div class="agency__text-headline">
				<div class="agency__text-subtitle">Invest in yourself</div>
				<div class="agency__text-title">Book a personal consultation with <br> our specialist</div>
				<div class="agency__text-text">Unleash your full potential and create your dream life with professional guidance</div>
			</div>
			<form onsubmit="ym(93081315,'reachGoal','form')" class="agency__form"  data-gtag-submit="modal" >
				<input class="agency__form-input" type="text" placeholder="Your name" name="name" required />
				<input class="agency__form-input" type="email" name="email" placeholder="Your e-mail" required />
				<input class="agency__form-input" type="tel" name="phone" placeholder="Phone number" required />
				<input type="hidden" name="project" value="keturah_reserve_at_meydan" />
				<input type="hidden" name="description" value="page_form" />
				<input class="duration" type="hidden" name="duration" value="" />
				<input class="pasted_fields" type="hidden" name="pasted_fields" value="" />
				<input type="hidden" name="language" value="english" />
				<input type="hidden" name="current_page" value="" />
				<button class="agency__form-btn" type="submit">Get a call back</button>
			</form>
		</div>
	</div>
</section>
