<section class="bio">
  <div class="scrollto-bio" id="biolife"></div>
  <div class="bio__body">
    <div class="bio__bg-pl"></div>
    <div class="bio__img">
      <picture>
        <img
          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/bio-bg.jpg"
          alt="bio-life image"
        />
      </picture>
    </div>
    <div class="container">
      <div class="bio__content">
        <h2 class="bio__title" data-splitting>BIO LIVING</h2>
        <p class="bio__text" data-splitting>
          WE EQUALLY RESPECT ALL LIFE FORMS: FLORA, FAUNA AND HUMAN
        </p>
      </div>
    </div>
    <button class="bio-scrollto" type="button">
      scroll
      <span class="bio-scrollto__line"></span>
    </button>
  </div>
</section>

<section class="bio-info" id="bio-info">
  <div class="container">
    <div class="bio-info__sub">BIO LIVING</div>
    <h3 class="bio-info__title" data-splitting data-effect16>
      HARMONY WITH NATURE HEALS, RE-ENERGIZES AND RECUPERATES
    </h3>
  </div>
  <div class="bio-info__wrapper">
    <div class="bio-info__item">
      <div class="bio-info__item-inner">
        <div class="bio-info__item-img">
          <div class="bio-info__item-img-inner">
            <picture>
              <img
                src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_3.jpg"
                alt="bio image"
              />
            </picture>
          </div>
        </div>
        <div class="bio-info__item-content">
          <p data-splitting data-effect16>
            Bio Living is inspired by Biophilic Design, the concept of creating
            architecture and interiors to enable connection of residents with
            the surrounding nature.
          </p>
        </div>
      </div>
    </div>
    <div class="bio-info__item row-reverse">
      <div class="bio-info__item-inner">
        <div class="bio-info__item-img">
          <div class="bio-info__item-img-inner">
            <picture>
              <img
                src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/bio-img-2.jpg"
                alt="bio image"
              />
            </picture>
          </div>
        </div>
        <div class="bio-info__item-content">
          <p data-splitting data-effect16>
            All five human senses are engaged by nature, improving physical and
            mental well-being and adding real value to residents' lives.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="plan">
  <div class="plan__wrapper">
    <div class="plan__inner">
      <div class="plan__img">
        <div class="plan__img-inner">
          <picture>
            <img
              src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/main-bg.jpg"
              alt="Master-Plan-Image"
            />
          </picture>
        </div>
      </div>
      <div class="plan__content">
        <h3 class="plan__content-title">
          <span>FEEL MORE VIBE BY</span> KETURAH RESERVE
        </h3>
        <a class="plan__content-link" href="bio.html">
          <span>DIVE</span
          ><svg
            width="52"
            height="18"
            viewBox="0 0 52 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M46.9125 12.3566L46.1063 11.5691L48.0938 9.58164H2V8.45664H48.1125L46.125 6.46914L46.9125 5.68164L50.25 9.01914L46.9125 12.3566Z"
              fill="#ADA08C"
            /></svg
        ></a>
      </div>
    </div>
  </div>
</section>
