<section class="brochure" id="brochure">
	<!-- <img  src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/ke-brochure.jpg" alt=""class="brochure__bg" /> -->
	<div class="brochure__content">
		<img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/brochure-bg.jpg" alt="" class="brochure__bg-dark" />
		<img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/masterplan-canvas/30fps_0209.jpg" alt="" class="brochure__bg" />
		<!-- <div class="brochure__bg-dark"></div> -->

		<div class="brochure__container container">
			<div class="brochure__header">
				<h2 class="brochure__title" data-splitting>Brochure</h2>
				<div class="brochure__subtitle main-title" data-splitting>GET DETAILED INFORMATION ABOUT THE PROJECT</div>
			</div>

			<div class="brochure__block">
				<div class="brochure__video-mob d-block d-md-none"><img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/brochure.png" alt="" class="" /></div>
				<form onsubmit="ym(93081315,'reachGoal','form')"   class="brochure__form" data-gtag-submit="brochure">
					<div class="brochure__form-input-wrapper form-floating">
						<input type="text" name="name" class="brochure__form-input form-control" id="name" placeholder="Your name" required />
						<label for="name" class="brochure__form-placeholder">Your name</label>
						<div class="brochure__form-line"></div>
					</div>
					<div class="brochure__form-input-wrapper form-floating">
						<input type="email" name="email" class="brochure__form-input form-control" id="email" placeholder="Your e-mail" required />
						<label for="email" class="brochure__form-placeholder">Your e-mail</label>
						<div class="brochure__form-line"></div>
					</div>
					<div class="brochure__form-input-wrapper form-floating phone-input-wrapper">
						<input type="tel" name="phone" class="brochure__form-input form-control" id="phone" placeholder="Phone number" required />
						<!-- <label for="phone" class="brochure__form-placeholder">Phone number</label> -->
						<div class="brochure__form-line"></div>
					</div>
					<input type="hidden" name="project" value="keturah_reserve_at_meydan" />
					<input type="hidden" name="description" value="page_form" />
					<input type="hidden" name="duration" class="duration" value="" />
					<input type="hidden" name="pasted_fields" class="pasted_fields" value="" />
					<input type="hidden" name="language" value="en" />
					<input type="hidden" name="current_page" value="" />
					<div class="brochure__form-btn-wrapper">
						<button type="submit" class="brochure__form-btn">Download PDF <img class="brochure__form-btn-icon" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/icons/download.svg" alt="" /></button>
					</div>
				</form>
			</div>

			<video data-src="https://d3b6muno9lbfvx.cloudfront.net/keturah/files/video/brochure-full.webm" poster="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/brochure.png" data-src-mob="https://d3b6muno9lbfvx.cloudfront.net/keturah/files/video/brochure-full.webm" class="brochure__video lazy d-none d-md-block" playsinline="true" muted>
				<!-- <source src="https://d3b6muno9lbfvx.cloudfront.net/one-sufouh/files//video/agency.mp4" type="video/mp4" /> -->
				<!-- Your browser does not support the video tag. -->
				<!-- <source src="https://d3b6muno9lbfvx.cloudfront.net/keturah/files/video/brochure-full.mov" type='video/mp4; codecs="hvc1"' /> -->
				<!-- <source src="https://d3b6muno9lbfvx.cloudfront.net/keturah/files/video/brochure-full.webm" type="video/webm" /> -->
			</video>

			<div class="brochure__thank-block">
				<div class="brochure__thank-title">Thank you<br />for your interest!</div>
				<div class="brochure__thank-subtitle">We will contact you soon</div>
			</div>
		</div>
		<!-- <button class="bio-scrollto" type="button">
			scroll
			<span class="bio-scrollto__line"></span>
		</button> -->
		<button class="bio-scrollto" type="button">
			scroll
			<span class="bio-scrollto__line"></span>
		</button>
	</div>
</section>
