<section class="developer">
	<div class="scrollto-developer" id="developer"></div>
	<div class="container">
		<div class="developer__row">
			<div class="developer__left">
				<div class="developer__overflow-container">
					<div class="developer__img">
						<picture> <img id="image" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/developer-main.jpeg" alt="" /></picture>
					</div>
					<h2 class="developer__subtitle sub">the mag group</h2>
					<h3 class="developer__title">reliability and premium quality</h3>
				</div>
				<div class="developer__info">
					<p class="developer__text">MAG Group Holding is a multinational consolidation of different companies and sectors within real estate, contracting & engineering, industrial & commercial trading, freight services, and hospitality.</p>
					<p class="developer__text">Since in 1978, MAG Group Holding has evolved to become a powerful and vibrant group with more than 2000 personnel worldwide in more than 50 companies and branches.</p>
				</div>
			</div>
			<div class="developer__right">
				<div class="developer__titles">
					<div class="developer__bold-title" id="number-first">1978</div>
					<div class="developer__subtitle text-center first">founding date</div>
				</div>
				<div class="developer__titles">
					<div class="developer__bold-title" id="number">50</div>
					<div class="developer__subtitle text-center second">companies around the world</div>
				</div>
				<div class="developer__titles">
					<div class="developer__bold-title" id="number-second">2000</div>
					<div class="developer__subtitle text-center third">employees in the state</div>
				</div>
			</div>
		</div>
	</div>
</section>
