<section class="floorplan" id="floorplan">
	<div class="floorplan__container">
		<div class="floorplan__inner">
			<div class="floorplan__inner-wrap">
				<div class="floorplan__describe-mob">
					<!-- <div class="floorplan__sub">VILLA</div> -->
					<div class="floorplan__title">VILLA</div>
				</div>
				<div class="floorplan__img">
					<img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/villa-floorplan.png" alt="" />
				</div>
				<div class="floorplan__describe">
					<div class="floorplan__describe-desk">
						<!-- <h5 class="floorplan__sub">VILLA</h5> -->
						<h2 class="floorplan__title">VILLA</h2>
						<!-- <div class="floorplan__text"><span>Total area:</span> 9 509 sq. ft.</div> -->
					</div>
					<button data-popup="#one" data-popup-title="Download All Floor plans and Find Your Perfect Fit"
						data-popup-subTitle="Your Dream Home Awaits:"
						data-popup-text="Don't miss out on your chance to find your perfect home. Download all the available floor plans and start visualizing your ideal space today! "
						data-popup-btn="Download" class="floorplan__link">
						<svg width="24" height="24" class="floorplan__link-svg__mob" viewBox="0 0 24 24" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M11.9993 17.9145L5.16393 11.0791L6.68685 9.55621L10.9368 13.8062V0.666626H13.0618V13.8062L17.3118 9.55621L18.8348 11.0791L11.9993 17.9145ZM0.666016 23.3333V16.1437H2.79102V21.2083H21.2077V16.1437H23.3327V23.3333H0.666016Z"
								fill="black" />
						</svg>

						<svg width="134" height="120" class="floorplan__link-svg__desk" viewBox="0 0 134 120"
							fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="60" cy="60" r="59.5" stroke="black" />
							<rect x="99" y="44" width="35" height="35" fill="#F3F2EF" />
							<path
								d="M60.0003 65.9145L53.1649 59.0791L54.6878 57.5562L58.9378 61.8062V48.6666H61.0628V61.8062L65.3128 57.5562L66.8357 59.0791L60.0003 65.9145ZM48.667 71.3333V64.1437H50.792V69.2083H69.2087V64.1437H71.3337V71.3333H48.667Z"
								fill="black" />
						</svg>
						<span> Download all floor plans </span>
					</button>
				</div>
			</div>
		</div>
		<div class="floorplan__info floorplan__info-villas">
			<div class="floorplan__info-box">
				<div class="floorplan__info-item-wrapper">
					<div class="floorplan__info-item">01. KITCHEN/DINING ROOM</div>
					<div class="floorplan__info-item">02. LIVING ROOM</div>
				</div>

				<div class="floorplan__info-item-wrapper">
					<div class="floorplan__info-item">03. STAIRS</div>
					<div class="floorplan__info-item">04. LOBBY</div>
				</div>
			</div>

			<div class="floorplan__info-box">
				<div class="floorplan__info-item-wrapper">
					<div class="floorplan__info-item">05. OUTDOOR ZONE</div>
					<div class="floorplan__info-item">06. BEDROOM</div>
				</div>

				<div class="floorplan__info-item-wrapper">
					<div class="floorplan__info-item">07. MASTER BEDROOM</div>
					<div class="floorplan__info-item">08. BALCONY</div>
				</div>
			</div>

			<div class="floorplan__info-box">
				<div class="floorplan__info-item-wrapper">
					<div class="floorplan__info-item">09. SWIMMING POOL</div>
				</div>
			</div>
		</div>

		<div class="floorplan__info-mob">
			<div class="floorplan__list">
				<div class="floorplan__info-item">01. KITCHEN/DINING ROOM</div>
				<div class="floorplan__info-item">02. LIVING ROOM</div>
				<div class="floorplan__info-item">03. STAIRS</div>
				<div class="floorplan__info-item">04. LOBBY</div>
				<div class="floorplan__info-item">05. OUTDOOR ZONE</div>
			</div>
			<div class="floorplan__list">
				<div class="floorplan__info-item">06. BEDROOM</div>
				<div class="floorplan__info-item">07. MASTER BEDROOM</div>
				<div class="floorplan__info-item">08. BALCONY</div>
				<div class="floorplan__info-item">09. SWIMMING POOL</div>
			</div>
		</div>
	</div>
</section>