<footer class="footer" id="footer">
	<div class="footer__container-wrapper">
		<div class="footer__bg-img">
			<img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/main-footer.jpg" alt="photo" />
		</div>
		<div class="footer__container container">
			<div class="footer__logo">
				<a href="index.html#main" class="anchor-link" data-anchor="main">
					<img loading="lazy" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/logo.svg" alt="" />
				</a>
			</div>
			<div class="footer__nav">
				<ul class="footer__list">
					<li class="footer__link">
						<a class="anchor-link" href="index.html#main" data-anchor="main">Main</a>
					</li>
					<li class="footer__link">
						<a class="anchor-link" href="index.html#biolife" data-anchor="biolife">Bio Living</a>
					</li>
					<li class="footer__link">
						<a class="anchor-link" href="index.html#masterplan" data-anchor="masterplan">Units</a>
					</li>
					<li class="footer__link">
						<a class="anchor-link" href="index.html#landmarks" data-anchor="landmarks">Landmarks</a>
					</li>
					<li class="footer__link">
						<a class="anchor-link" href="index.html#location" data-anchor="location">Location</a>
					</li>
					<li class="footer__link">
						<a class="anchor-link" href="index.html#payment" data-anchor="payment">Payment Plan</a>
					</li>
					<li class="footer__link">
						<a class="anchor-link" href="index.html#developer" data-anchor="developer">Developer</a>
					</li>
					<li class="footer__link">
						<a class="anchor-link" href="index.html#agency" data-anchor="agency">AX CAPITAL</a>
					</li>
				</ul>
			</div>
			<div class="footer__copirayt">
				<span>© 2023 ALL RIGHTS RESERVED</span>
				<a href="copyright.html">PRIVACY POLICY</a>
			</div>
		</div>
	</div>
</footer>
