<section class="form-contact">
	<div class="form-contact__container">
		<div class="form-contact__text">
			<div class="form-contact__sub">want more information?</div>
			<div class="form-contact__title">contact us for all details</div>
		</div>
		<form onsubmit="ym(93081315,'reachGoal','form')" class="form-contact__form"   data-gtag-submit="inner">
			<div class="form-contact__wrapper">
				<div class="form-contact__input">
					<input class="form-contact__item" type="text" name="name" placeholder="Your name" required autocomplete="off" />
				</div>
				<div class="form-contact__input">
					<input class="form-contact__item" type="email" name="email" placeholder="Email" required autocomplete="off" />
				</div>
				<div class="form-contact__input">
					<input class="form-contact__item" type="tel" name="phone" placeholder="Phone number" required autocomplete="off" />
				</div>
				<input type="hidden" name="project" value="keturah_reserve_at_meydan" />
				<input type="hidden" name="description" value="page_form" />
				<input type="hidden" name="duration" class="duration" value="" />
				<input type="hidden" name="pasted_fields" class="pasted_fields" value="" />
				<input type="hidden" name="language" value="en" />
				<input type="hidden" name="current_page" value="" />
				<div class="form-contact__submit">
					<button class="form-contact__item" type="submit">
						<span>ENQUIRE</span
						><svg width="52" height="18" viewBox="0 0 52 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M46.9125 12.3566L46.1063 11.5691L48.0938 9.58164H2V8.45664H48.1125L46.125 6.46914L46.9125 5.68164L50.25 9.01914L46.9125 12.3566Z" fill="#ADA08C" />
						</svg>
					</button>
				</div>
			</div>
		</form>
	</div>
</section>
