<section class="gallery" id="galleryScrollSmoother">
  <div class="gallery__smooth-content" id="galleryScrollSmootherWrapper">
    <div class="gallery__hidden">
      <div class="gallery__wrapper wrapper-gallery__one">
        <div class="gallery__left left-gallery">
          <div class="left-gallery__img left-gallery__img_one">
            <img class="gallery__img-scale" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_1.jpg"
              alt="" />
          </div>
        </div>
        <div class="gallery__right right-gallery">
          <div class="right-gallery__left">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_2.jpg" alt="" />
            <div class="gallery__shadow shadow-gallery shadow-gallery_desc">
              <h3 class="shadow-gallery__heading">
                <span class="shadow-gallery__sub-title">interior</span>
                <span class="shadow-gallery__title">take a look inside</span>
              </h3>
              <button data-popup="#one"
                data-popup-title="360-degree views of breathtaking destinations at Keturah Reserve"
                data-popup-subTitle="coming soon"
                data-popup-text="Be the first to experience the beauty of Keturah Reserve. Stunnig views of project, immerse yourself in a realistic space of serene tranquility."
                data-popup-btn="Join now" class="shadow-gallery__btn">
                <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
              </button>
            </div>
          </div>
          <div class="right-gallery__content">
            <div class="right-gallery__content__height">
              <div class="right-gallery__subtitle">
                <h2>INTERIOR</h2>
              </div>
              <div class="right-gallery__title">
                <h3>ENERGY SAVING</h3>
              </div>
              <div class="right-gallery__texts">
                <div class="right-gallery__text">
                  <p>
                    Super-efficient VRF multi-zone air conditioning technology provides uniform room temperatures and
                    reduces energy costs. Besides that, wall thickness and window glass density allows natural room
                    cooling. Design solutions make significant effect on avoiding glare and unnecessary room heating.
                  </p>
                </div>
              </div>
              <div class="right-gallery__cards">
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_3.jpg"
                      data-fancybox="villas-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_3.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_4.jpg"
                      data-fancybox="villas-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_4.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_5.jpg"
                      data-fancybox="villas-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_5.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_6.jpg"
                      data-fancybox="villas-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_6.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <!-- <a
                      href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_6.jpg"
                      data-fancybox="villas-first"
                    > -->
                    <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_int_6.jpg" alt="" /></a>
                    <div class="gallery__shadow shadow-gallery">
                      <div class="shadow-gallery__heading">
                        <span class="shadow-gallery__sub-title">interior</span>
                        <span class="shadow-gallery__title">take a look inside</span>
                      </div>
                      <button data-popup="#one"
                        data-popup-title="360-degree views of breathtaking destinations at Keturah Reserve"
                        data-popup-subTitle="coming soon"
                        data-popup-text="Be the first to experience the beauty of Keturah Reserve. Stunnig views of project, immerse yourself in a realistic space of serene tranquility."
                        data-popup-btn="Join now" class="shadow-gallery__btn">
                        <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery__wrapper wrapper-gallery__two">
        <div class="gallery__left left-gallery left-gallery__two">
          <div class="left-gallery__img">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/4.jpg" alt="" />
          </div>
        </div>
        <div class="gallery__right right-gallery">
          <div class="right-gallery__left">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_ext_1.jpg" alt="" />
            <div class="gallery__shadow shadow-gallery shadow-gallery_desc">
              <h3 class="shadow-gallery__heading">
                <span class="shadow-gallery__sub-title">exterior</span>
                <span class="shadow-gallery__title">take a look outside</span>
              </h3>
              <button data-modal360="modal360-villas-exterior.html" class="shadow-gallery__btn">
                <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
              </button>
            </div>
          </div>
          <div class="right-gallery__content">
            <div class="right-gallery__content__height">
              <div class="right-gallery__subtitle">
                <h2>EXTERIOR</h2>
              </div>
              <div class="right-gallery__title">
                <h3>TEXTURES</h3>
              </div>
              <div class="right-gallery__texts">
                <div class="right-gallery__text">
                  <p>
                    The whitened travertine facade harmoniously blends the spaces, and the bronze vertical slats play
                    with chiaroscuro. The Reserve creates a seamless and harmonious blend between the different spaces
                    of the resort. This natural stone has a smooth and uniform texture, which gives the exterior a sleek
                    and modern look.
                  </p>
                </div>
              </div>
              <div class="right-gallery__cards">
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_ext_2.jpg"
                      data-fancybox="villas-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_ext_2.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_ext_3.jpg"
                      data-fancybox="villas-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_ext_3.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_ext_4.jpg"
                      data-fancybox="villas-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_ext_4.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <!-- <a
                      href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_ext_4.jpg"
                      data-fancybox="villas-second"
                    > -->
                    <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/vill_ext_4.jpg" alt="" /></a>
                    <div class="gallery__shadow shadow-gallery">

                      <div class="shadow-gallery__heading">
                        <span class="shadow-gallery__sub-title">exterior</span>
                        <span class="shadow-gallery__title">take a look outside</span>
                      </div>
                      
                      <button data-modal360="modal360-villas-exterior.html" class="shadow-gallery__btn">
                        <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>