<section class="gallery" id="galleryScrollSmoother">
  <div class="gallery__smooth-content" id="galleryScrollSmootherWrapper">
    <div class="gallery__hidden">
      <div class="gallery__wrapper wrapper-gallery__one">
        <div class="gallery__left left-gallery">
          <div class="left-gallery__img left-gallery__img_one">
            <img class="gallery__img-scale" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_1.jpg"
              alt="" />
          </div>
        </div>
        <div class="gallery__right right-gallery">
          <div class="right-gallery__left">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_2.jpg" alt="" />
            <div class="gallery__shadow shadow-gallery shadow-gallery_desc">
              <h3 class="shadow-gallery__heading">
                <span class="shadow-gallery__sub-title">interior</span>
                <span class="shadow-gallery__title">take a look inside</span>
              </h3>
              <button data-modal360="modal360-apartments-interior.html" class="shadow-gallery__btn">
                <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
              </button>
            </div>
          </div>
          <div class="right-gallery__content">
            <div class="right-gallery__content__height">
              <div class="right-gallery__subtitle">
                <h2>INTERIOR</h2>
              </div>
              <div class="right-gallery__title">
                <h3>AIR & SPACE</h3>
              </div>
              <div class="right-gallery__texts">
                <div class="right-gallery__text">
                  <p>
                    Double size rooms ensures increased space and airflow, open-plan spaces do not consider corridors or
                    hallways. A silent filtration system purifies and refreshes the air,
                    removing dust and odors. Extended balconies design implies reducing temperature and glare from
                    direct sunlight.
                  </p>
                </div>


              </div>
              <div class="right-gallery__cards">
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_3.jpg"
                      data-fancybox="apar-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_3.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_4.jpg"
                      data-fancybox="apar-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_4.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_5.jpg"
                      data-fancybox="apar-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_5.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <!-- <a
                      href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_6.jpg"
                      data-fancybox="apar-first"
                    > -->
                    <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_6.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_6.jpg"
                      data-fancybox="apar-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_int_6.jpg" alt="" /></a>
                    <div class="gallery__shadow shadow-gallery">
                      <div class="shadow-gallery__heading">
                        <span class="shadow-gallery__sub-title">interior</span>
                        <span class="shadow-gallery__title">take a look inside</span>
                      </div>
                      <button data-modal360="modal360-apartments-interior.html" class="shadow-gallery__btn">
                        <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery__wrapper wrapper-gallery__two">
        <div class="gallery__left left-gallery left-gallery__two">
          <div class="left-gallery__img">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/in2.jpg" alt="" />
          </div>
        </div>
        <div class="gallery__right right-gallery">
          <div class="right-gallery__left">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_1.jpg" alt="" />
            <div class="gallery__shadow shadow-gallery shadow-gallery_desc">
              <h3 class="shadow-gallery__heading">
                <span class="shadow-gallery__sub-title">exterior</span>
                <span class="shadow-gallery__title">take a look outside</span>
              </h3>
              <button data-modal360="modal360-apartments-exterior.html" class="shadow-gallery__btn">
                <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
              </button>
            </div>
          </div>
          <div class="right-gallery__content">
            <div class="right-gallery__content__height">
              <div class="right-gallery__subtitle">
                <h2>EXTERIOR</h2>
              </div>
              <div class="right-gallery__title">
                <h3>COLOURS</h3>
              </div>
              <div class="right-gallery__texts">
                <div class="right-gallery__text">
                  <p>
                    The grandeur and tranquility of the surrounding desert is a basis for inspiration displayed by the
                    colours, a palette of three cool neutral tones - cream, champagne and bronze. These colors are often
                    associated with elegance, sophistication, and serenity,
                    making them a perfect match for the surroundings of Keturah Reserve. The use of these colors also
                    helps to create a sense of harmony and balance, which adds to the overall relaxing atmosphere of the
                    resort.
                  </p>
                </div>
              </div>
              <div class="right-gallery__cards">
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_2.jpg"
                      data-fancybox="apar-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_2.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_3.jpg"
                      data-fancybox="apar-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_3.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_4.jpg"
                      data-fancybox="apar-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_4.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_5.jpg"
                      data-fancybox="apar-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_5.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <!-- <a
                      href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_5.jpg"
                      data-fancybox="apar-second"
                    > -->
                    <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/apart_ext_5.jpg" alt="" /></a>
                    <div class="gallery__shadow shadow-gallery">
                      <div class="shadow-gallery__heading">
                        <span class="shadow-gallery__sub-title">exterior</span>
                        <span class="shadow-gallery__title">take a look outside</span>
                      </div>
                      <button data-modal360="modal360-apartments-exterior.html" class="shadow-gallery__btn">
                        <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>