<section class="gallery" id="galleryScrollSmoother">
  <div class="gallery__smooth-content" id="galleryScrollSmootherWrapper">
    <div class="gallery__hidden">
      <div class="gallery__wrapper wrapper-gallery__one">
        <div class="gallery__left left-gallery">
          <div class="left-gallery__img left-gallery__img_one">
            <img class="gallery__img-scale" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_1.jpg"
              alt="" />
          </div>
        </div>
        <div class="gallery__right right-gallery">
          <div class="right-gallery__left">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_2.jpg" alt="" />
            <div class="gallery__shadow shadow-gallery shadow-gallery_desc">
              <h3 class="shadow-gallery__heading">
                <span class="shadow-gallery__sub-title">interior</span>
                <span class="shadow-gallery__title">take a look inside</span>
              </h3>
                <button data-modal360="modal360-townhouses-interior.html" class="shadow-gallery__btn btn-3d">
                <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
              </button>
            </div>
          </div>
          <div class="right-gallery__content">
            <div class="right-gallery__content__height">
              <div class="right-gallery__subtitle">
                <h2>INTERIOR</h2>
              </div>
              <div class="right-gallery__title">
                <h3>LIGHT</h3>
              </div>
              <div class="right-gallery__texts">
                <div class="right-gallery__text">
                  <p>
                    Natural light has been given special attention in innovative architecture. All the solutions aim to
                    maximize the amount of daylight in the rooms, while conditioning reduces extraneous heating.
                  </p>
                </div>

              </div>
              <div class="right-gallery__cards">
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_3.jpg"
                      data-fancybox="town-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_3.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_4.jpg"
                      data-fancybox="town-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_4.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_5.jpg"
                      data-fancybox="town-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_5.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_6.jpg"
                      data-fancybox="town-first">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_6.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_6.jpg">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_int_6.jpg" alt="" /></a>
                    <div class="gallery__shadow shadow-gallery">
                      <div class="shadow-gallery__heading">
                        <span class="shadow-gallery__sub-title">interior</span>
                        <span class="shadow-gallery__title">take a look inside</span>
                      </div>
                      <button data-modal360="modal360-townhouses-interior.html" class="shadow-gallery__btn">
                        <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery__wrapper wrapper-gallery__two">
        <div class="gallery__left left-gallery left-gallery__two">
          <div class="left-gallery__img">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/in2.jpg" alt="" />
          </div>
        </div>
        <div class="gallery__right right-gallery">
          <div class="right-gallery__left">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_1.jpg" alt="" />
            <div class="gallery__shadow shadow-gallery shadow-gallery_desc">
              <h3 class="shadow-gallery__heading">
                <span class="shadow-gallery__sub-title"> exterior </span>
                <span class="shadow-gallery__title"> take a look outside </span>
              </h3>
              <button data-modal360="modal360-townhouses-exterior.html" class="shadow-gallery__btn">
                <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
              </button>
            </div>
          </div>
          <div class="right-gallery__content">
            <div class="right-gallery__content__height">
              <div class="right-gallery__subtitle">
                <h2>EXTERIOR</h2>
              </div>
              <div class="right-gallery__title">
                <h3>NATURAL MATERIALS</h3>
              </div>
              <div class="right-gallery__texts">
                <div class="right-gallery__text">
                  <p>
                    Wood has been specifically treated by firing it at least six times to enhance its strength and wear
                    and tear resistance. Stone is also a natural material that is well-suited to the local environment,
                    as it is able to retain heat during the day and release it at night. Metal not only adds to the
                    aesthetic appeal, but is also durable and able to withstand negative impact. Overall, the use of
                    these natural materials helps to create a sustainable and eco-friendly environment that is perfectly
                    suited to the local climate.
                  </p>
                </div>
              </div>
              <div class="right-gallery__cards">
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_2.jpg"
                      data-fancybox="town-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_2.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_3.jpg"
                      data-fancybox="town-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_3.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_4.jpg"
                      data-fancybox="town-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_4.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <a href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_5.jpg"
                      data-fancybox="town-second">
                      <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_5.jpg" alt="" /></a>
                  </div>
                </div>
                <div class="right-gallery__card card-right-gallery">
                  <div class="card-right-gallery__img">
                    <!-- <a
                      href="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_5.jpg"
                      data-fancybox="town-second"
                    > -->
                    <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/last/townh_ext_5.jpg" alt="" /></a>
                    <div class="gallery__shadow shadow-gallery">
                      <div class="shadow-gallery__heading">
                        <span class="shadow-gallery__sub-title">exterior</span>
                        <span class="shadow-gallery__title">take a look outside</span>
                      </div>
                      <button data-modal360="modal360-townhouses-exterior.html" class="shadow-gallery__btn">
                        <img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/gallery/btn.svg" alt="" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>