<section class="intro-section">
	<div class="main-section__pl"></div>
	<div class="intro-section__container">
		<div class="intro-section__text">
			<h3 class="intro-section__sub-title">Keturah reserve</h3>
			<h1 class="intro-section__title">Townhouses</h1>
		</div>
		<div class="intro-section__more-btn-wrap">
			<a href="#" class="intro-section__more-btn" data-popup="#sec30Popup" data-fancybox="popup" src="#modal-popup">
				<div class="intro-section__more-btn-text">More information</div>
				<svg width="49" height="10" viewBox="0 0 49 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M46.125 5.775H0.75C0.533333 5.775 0.354166 5.70417 0.2125 5.5625C0.070833 5.42083 0 5.24167 0 5.025C0 4.80833 0.070833 4.62917 0.2125 4.4875C0.354166 4.34583 0.533333 4.275 0.75 4.275H46.15L44 2.125C43.8667 1.99167 43.8 1.825 43.8 1.625C43.8 1.425 43.875 1.25 44.025 1.1C44.175 0.95 44.35 0.875 44.55 0.875C44.75 0.875 44.925 0.95 45.075 1.1L48.475 4.5C48.5583 4.58333 48.6167 4.66667 48.65 4.75C48.6833 4.83333 48.7 4.925 48.7 5.025C48.7 5.125 48.6833 5.21667 48.65 5.3C48.6167 5.38333 48.5583 5.46667 48.475 5.55L45.075 8.95C44.9083 9.11667 44.7292 9.19583 44.5375 9.1875C44.3458 9.17917 44.175 9.1 44.025 8.95C43.875 8.8 43.8 8.62083 43.8 8.4125C43.8 8.20417 43.8667 8.03333 44 7.9L46.125 5.775Z" fill="currentColor" />
				</svg>
			</a>
		</div>
		<div class="intro-section__info intro-info">
			<div class="intro-info__list">
				<div class="intro-info__item">
					<div class="intro-info__value">types</div>
					<div class="intro-info__name">4 & 5-bedroom</div>
				</div>
				<div class="intro-info__item">
					<div class="intro-info__value">minimal area</div>
					<div class="intro-info__name">5 462 sq. ft.</div>
				</div>
				<div class="intro-info__item">
					<div class="intro-info__value">handover date</div>
					<div class="intro-info__name">AED 8.5 mln</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll-down">
		<div class="scroll-down__line"></div>
		<div class="scroll-down__text">scroll</div>
	</a>
</section>
