<div class="loading">
	<div class="loading__video">
		<video autoplay muted playsinline poster="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/birdie.jpg"></video>
	</div>
	<div class="loading__pl">
		<div class="loading__logo">
			<div class="loading__logo_default">
				<img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/logo-stroke.svg" alt="" />
			</div>
			<div class="loading__logo_loading">
				<img src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/logo.svg" alt="" />
			</div>
		</div>
		<div class="loading__percent">0%</div>
	</div>
</div>
