<div class="scrollto-landmarks-wrap">
  <div class="scrollto-landmarks" id="landmarks"></div>
</div>
<div class="landmarks">
  <div class="landmarks__shadow"></div>
  <div class="landmarks__svg1"></div>
  <div class="landmarks__svg2"></div>
  <div class="landmarks__svg3"></div>
  <div class="landmarks__bgs">
    <div class="landmarks__bg active">
      <img
        loading="lazy"
        src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/masterplan-canvas/30fps_0209.jpg"
        alt=""
      />
    </div>
    <div class="landmarks__bg">
      <img
        loading="lazy"
        src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/landmarks/bg2.jpg"
        alt=""
      />
    </div>
    <div class="landmarks__bg">
      <img
        loading="lazy"
        src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/landmarks/bg3.jpg"
        alt=""
      />
    </div>
    <div class="landmarks__bg">
      <img
        loading="lazy"
        src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/landmarks/bg4.jpg"
        alt=""
      />
    </div>
    <div class="landmarks__bg">
      <img
        loading="lazy"
        src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/mapv3.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="landmarks__cards">
    <div class="landmarks__card completed">
      <div class="landmarks__img">
        <img
          class="landmarks__img_i"
          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/masterplan-canvas/30fps_0209.jpg"
          alt=""
        />
      </div>
      <div class="landmarks__img_font"></div>
      <div class="landmarks__text text-landmarks active-first">
        <div class="text-landmarks__title">15 minutes</div>
        <div class="text-landmarks__sub-title">to the Burj Khalifa</div>
      </div>
      <div class="text-landmarks__small">
        <p>Burj Khalifa</p>
      </div>
    </div>
    <div class="landmarks__card">
      <div class="landmarks__img">
        <img
          class="landmarks__img_i landmarks__img_up"
          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/landmarks/c2.jpg"
          alt=""
        />
      </div>
      <div class="landmarks__img_font"></div>
      <div class="landmarks__text text-landmarks active">
        <div class="text-landmarks__title">13 mins</div>
        <div class="text-landmarks__sub-title">to the Jumeirah Beach</div>
      </div>
      <div class="text-landmarks__small">
        <p>Jumeirah Beach</p>
      </div>
    </div>
    <div class="landmarks__card">
      <div class="landmarks__img">
        <img
          class="landmarks__img_i"

          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/landmarks/c3.jpg"
          alt=""
        />
      </div>

      <div class="landmarks__img_font"></div>
      <div class="landmarks__text text-landmarks">
        <div class="text-landmarks__title">19 mins</div>
        <div class="text-landmarks__sub-title">to the DXB Airport</div>
      </div>
      <div class="text-landmarks__small">
        <p>DXB Airport</p>
      </div>
    </div>
    <div class="landmarks__card">
      <div class="landmarks__img">
        <img
          class="landmarks__img_i"
          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/landmarks/c4.jpg"
          alt=""
        />
      </div>
      <div class="landmarks__img_font"></div>
      <div class="landmarks__text text-landmarks">
        <div class="text-landmarks__title">14 minutes</div>
        <div class="text-landmarks__sub-title">to the Meydan One Mall</div>
      </div>
      <div class="text-landmarks__small">
        <p>Meydan One Mall</p>
      </div>
    </div>
    <div class="landmarks__card">
      <div class="landmarks__img landmarks__img_map">
        <div class="location show-all">
          <div class="location__container">
            <div class="location__scroll">
              <ul class="location__list">
                <li class="location__item location__item_all _active">All</li>
                <li class="location__item">MAIN</li>
                <!-- <li class="location__item ">ART AND CULTURE</li> -->
                <li class="location__item">shopping</li>
                <li class="location__item">HEALTHCARE</li>
                <li class="location__item">GOLF CLUBS</li>
              </ul>
              <div class="location__list_btn">
                <p>
                  All 
                </p>
								<span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="48"
                      viewBox="0 96 960 960"
                      width="48"
                      fill="currentColor"
                    >
                      <path
                        d="M480 711 240 471l43-43 197 198 197-197 43 43-240 239Z"
                      /></svg
                  ></span>
              </div>
            </div>
          </div>
          <div class="location__wrapper">
            <div class="location__dots">
              <div class="location__dot dot-location _active">
                <div
                  data-y="1747"
                  data-x="1963"
                  data-y-mob="532.8"
                  data-x-mob="851.17"
                  class="dot-location__tip tip-dot"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/accessibility/burj_khalifa.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Burj Khalifa
                      </div>
                      <div class="tip-dot__time">14 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Burj Khalifa
                    </div>
                  </div>
                </div>
                <div
                  data-y="1669"
                  data-x="1083"
                  data-y-mob="491"
                  data-x-mob="357"
                  class="dot-location__tip tip-dot"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/accessibility/dubai_international_airport.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        DXB Airport
                      </div>
                      <div class="tip-dot__time">15 minutes</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      DXB Airport
                    </div>
                  </div>
                </div>
                <div
                  data-y="1591"
                  data-x="2283"
                  data-y-mob="446.87"
                  data-x-mob="1030.48"
                  class="dot-location__tip tip-dot"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/accessibility/jumeirah_beach.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Jumeirah Beach
                      </div>
                      <div class="tip-dot__time">15 minutes</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Jumeirah Beach
                    </div>
                  </div>
                </div>
                <div
                  data-y="1832"
                  data-x="2852"
                  data-y-mob="582.15"
                  data-x-mob="1345"
                  class="dot-location__tip tip-dot tip-dot_hide"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/accessibility/burj_al_arab.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Burj Al Arab
                      </div>
                      <div class="tip-dot__time">19 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Burj Al Arab
                    </div>
                  </div>
                </div>
                <div
                  data-y="1759"
                  data-x="3138.5"
                  data-y-mob="541.28"
                  data-x-mob="1510.6"
                  class="dot-location__tip tip-dot"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/accessibility/palm_jumeirah.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Palm Jumeirah
                      </div>
                      <div class="tip-dot__time">18 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Palm Jumeirah
                    </div>
                  </div>
                </div>

                <div
                  data-y="2285"
                  data-x="1830.4"
                  data-y-mob="836"
                  data-x-mob="775"
                  class="dot-location__tip tip-dot"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/accessibility/Nad_Al_Sheba_Park.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Nad Al Sheba Park
                      </div>
                      <div class="tip-dot__time">9 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Nad Al Sheba Park
                    </div>
                  </div>
                </div>
                <div
                  data-y="1966"
                  data-x="1643.4"
                  data-y-mob="657"
                  data-x-mob="670"
                  class="dot-location__tip tip-dot tip-dot_hide"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/accessibility/Ras_Al_Khor_Sanctuary.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Ras Al Khor Sanctuary
                      </div>
                      <div class="tip-dot__time">9 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Ras Al Khor Sanctuary
                    </div>
                  </div>
                </div>
                <div
                  data-y="1614"
                  data-x="1416.4"
                  data-y-mob="459"
                  data-x-mob="542.5"
                  class="dot-location__tip tip-dot"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/accessibility/Creek_Park.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Creek Park
                      </div>
                      <div class="tip-dot__time">15 minutes</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Creek Park
                    </div>
                  </div>
                </div>
                <div
                  data-y="1515"
                  data-x="1625.4"
                  data-y-mob="403.55"
                  data-x-mob="660"
                  class="dot-location__tip tip-dot tip-dot_hide"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/accessibility/dubai-frame.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Dubai Frame
                      </div>
                      <div class="tip-dot__time">14 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Dubai Frame
                    </div>
                  </div>
                </div>
              </div>
              <div class="location__dot dot-location _active">
                <div
                  data-y="1753"
                  data-x="1959"
                  data-y-mob="527.86"
                  data-x-mob="848.72"
                  class="dot-location__tip tip-dot tip-dot_cover"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/shopping/dubai_mall.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Dubai Mall
                      </div>
                      <div class="tip-dot__time">14 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Dubai Mall
                    </div>
                  </div>
                </div>
                <div
                  data-y="1969"
                  data-x="1991"
                  data-y-mob="659.4"
                  data-x-mob="866.55"
                  class="dot-location__tip tip-dot"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/shopping/meydan_one_mall.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Meydan One Mall
                      </div>
                      <div class="tip-dot__time">10 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Meydan One Mall
                    </div>
                  </div>
                </div>
                <div
                  data-y="1740.55"
                  data-x="2062"
                  data-y-mob="530.94"
                  data-x-mob="906.46"
                  class="dot-location__tip tip-dot tip-dot_cover"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/shopping/Bay_Avenue.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Bay Avenue Mall
                      </div>
                      <div class="tip-dot__time">10 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Bay Avenue Mall
                    </div>
                  </div>
                </div>
                <div
                  data-y="1779.41"
                  data-x="2683.63"
                  data-y-mob="552.93"
                  data-x-mob="1263.13"
                  class="dot-location__tip tip-dot tip-dot_s tip-dot_hide"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/shopping/Al_Souq_Shopping_Complex.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Al Souq Shopping Complex
                      </div>
                      <div class="tip-dot__time">18 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Al Souq Shopping Complex
                    </div>
                  </div>
                </div>
                <div
                  data-y="2050.52"
                  data-x="2811.32"
                  data-y-mob="705.1"
                  data-x-mob="1334.8"
                  class="dot-location__tip tip-dot tip-dot_hide"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/shopping/mall_of_emirates.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Mall of the Emirates
                      </div>
                      <div class="tip-dot__time">16 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Mall of the Emirates
                    </div>
                  </div>
                </div>
                <div
                  data-y="2440"
                  data-x="1047.4"
                  data-y-mob="923"
                  data-x-mob="335"
                  class="dot-location__tip tip-dot tip-dot_hide"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/shopping/dragonmart.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Dragon Mart
                      </div>
                      <div class="tip-dot__time">22 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Dragon Mart
                    </div>
                  </div>
                </div>
              </div>
              <div class="location__dot dot-location _active">
                <div
                  data-y="1842.16"
                  data-x="1961.04"
                  data-y-mob="578.97"
                  data-x-mob="850"
                  class="dot-location__tip tip-dot"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/medical/Life_Healthcare_Group.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Life Healthcare Group
                      </div>
                      <div class="tip-dot__time">12 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Life Healthcare Group
                    </div>
                  </div>
                </div>
                <div
                  data-y="1757"
                  data-x="1962.25"
                  data-y-mob="540.44"
                  data-x-mob="850.37"
                  class="dot-location__tip tip-dot tip-dot_cover"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/medical/amana.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Amana Healthcare
                      </div>
                      <div class="tip-dot__time">16 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Amana Healthcare
                    </div>
                  </div>
                </div>

                <div
                  data-y="1857.17"
                  data-x="2399.75"
                  data-y-mob="596.39"
                  data-x-mob="1096"
                  class="dot-location__tip tip-dot tip-dot_s"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/medical/Biomed_Healthcare_Trading_LLC.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Biomed Healthcare Trading LLC
                      </div>
                      <div class="tip-dot__time">10 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Biomed Healthcare Trading LLC
                    </div>
                  </div>
                </div>
                <div
                  data-y="1970.56"
                  data-x="2394.49"
                  data-y-mob="660"
                  data-x-mob="1093"
                  class="dot-location__tip tip-dot"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/medical/QAm.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        QAM Healthcare
                      </div>
                      <div class="tip-dot__time">12 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      QAM Healthcare
                    </div>
                  </div>
                </div>

                <div
                  data-y="1991.62"
                  data-x="2825.74"
                  data-y-mob="671.85"
                  data-x-mob="1335"
                  class="dot-location__tip tip-dot tip-dot_s tip-dot_hide tip-dot_cover"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/medical/unique.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Unique Healthcare Consultancy Dubai
                      </div>
                      <div class="tip-dot__time">17 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Unique Healthcare Consultancy Dubai
                    </div>
                  </div>
                </div>
              </div>
              <div class="location__dot dot-location _active">
                <div
                  data-y="2126.31"
                  data-x="1908.92"
                  data-y-mob="752"
                  data-x-mob="825"
                  class="dot-location__tip tip-dot tip-dot_s"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/golf/Meydan_Academy_and Driving_Range.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Meydan Academy and Driving Range
                      </div>
                      <div class="tip-dot__time">8 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Meydan Academy and Driving Range
                    </div>
                  </div>
                </div>
                <div
                  data-y="2258.59"
                  data-x="2312.65"
                  data-y-mob="826"
                  data-x-mob="1047"
                  class="dot-location__tip tip-dot"
                >
                  <div class="tip-dot__float">
                    <div class="tip-dot__body">
                      <div class="tip-dot__img">
                        <img
                          src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/dots2/golf/dubai_hills_golf_club.jpg"
                          alt="tip"
                        />
                      </div>
                      <div class="tip-dot__title tip-dot__title_up">
                        Dubai Hills Golf Club
                      </div>
                      <div class="tip-dot__time">11 mins</div>
                    </div>
                  </div>
                  <div class="tip-dot__title-wrap">
                    <div class="tip-dot__title tip-dot__title_down">
                      Dubai Hills Golf Club
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-y="2218"
              data-x="2122"
              data-y-mob="786.14"
              data-x-mob="933"
              class="dot-location__tip dot-location__main"
            >
              <div
                class="dot-location__main_body"
                aria-label="keturah"
                data-tooltip="top"
              >
                <div class="dot-location__main_img">
                  <img
                    src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/keturah.svg"
                    alt="tip"
                  />
                </div>
              </div>
            </div>
            <div class="location__map">
              <img
                class="location__map_img-desc"
                src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/mapv3.jpg"
                alt="map"
              />
              <img
                class="location__map_img-mob"
                src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/location/mapv5.jpeg"
                alt="map"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="landmarks__img_font"></div>
      <div class="landmarks__text text-landmarks">
        <div class="text-landmarks__title"></div>
        <div class="text-landmarks__sub-title"></div>
      </div>
    </div>
  </div>
</div>
