<!-- Dialog Contents -->
<div class="modal d-none" id="modal-popup">
	<div class="modal-body">
		<div class="modal-content">
			<div class="modal-block">
				<div class="modal-title main-title">Unique opportunity</div>
				<div class="modal-subtitle main-subtitle">Join our exclusive private screening of Keturah Reserve</div>
				<p class="modal-text main-text">Be the first to experience the beauty of Keturah Reserve at our exclusive private screening event! Leave your contact information below to receive an invitation to our special event.</p>
			</div>
			<div class="modal-block">
				<form onsubmit="ym(93081315,'reachGoal','form')" class="modal-form__form"   data-gtag-submit="visit">
					<div class="modal-form__form-box">
						<div class="form-floating">
							<input class="form-control" type="text" name="name" id="applicationModalName" placeholder="Your name" required />
							<label for="applicationModalName" data-splitting>Your name</label>
							<div class="line"></div>
						</div>
						<div class="form-floating">
							<input class="form-control" type="email" name="email" id="applicationModalEmail" placeholder="Your e-mail" required />
							<label for="applicationModalEmail" data-splitting>Your e-mail</label>
							<div class="line"></div>
						</div>
						<div class="form-floating">
							<input class="form-control" type="tel" name="phone" id="applicationModalPhone" required />
							<div class="line"></div>
						</div>
					</div>
					<input type="hidden" name="project" value="keturah_reserve_at_meydan" />
					<input type="hidden" name="description" value="page_form" />
					<input type="hidden" name="duration" class="duration" value="" />
					<input type="hidden" name="pasted_fields" class="pasted_fields" value="" />
					<input type="hidden" name="language" value="english" />
					<input type="hidden" name="current_page" value="" />
					<div class="modal-form__btn-box">
						<button class="btn black-btn btn-dark text-animation text-animation-wrap" type="submit">
							<div class="text-animation-item" data-splitting>download</div>
							<div class="text-animation-item" data-splitting>download</div>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
