<section class="payment">
  <div class="scrollto-location" id="location"></div>
  <div class="scrollto-payment" id="payment"></div>
  <div class="payment__content">
    <div class="payment__container container">
      <div class="payment__header">
        <h2 class="payment__header-title main-title">Payment plan</h2>
        <h3
          class="payment__header-subtitle main-subtitle"
          data-splitting
          data-effect11
        >
          Best for investment
        </h3>
      </div>
      <div class="payment__slider swiper">
        <div class="payment__slider-wrapper swiper-wrapper">
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">20</span>%
              </div>
              <div class="payment__slider-title">Down Payment</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">10</span>%
              </div>
              <div class="payment__slider-title">2nd Installment</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">5</span>%
              </div>
              <div class="payment__slider-title">3rd Installment</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">10</span>%
              </div>
              <div class="payment__slider-title">4th Installment</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">5</span>%
              </div>
              <div class="payment__slider-title">5th Installment</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">10</span>%
              </div>
              <div class="payment__slider-title">100% Construction</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">5</span>%
              </div>
              <div class="payment__slider-title">3 Month After Handover</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">5</span>%
              </div>
              <div class="payment__slider-title">6 Month After Handover</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">5</span>%
              </div>
              <div class="payment__slider-title">9 Month After Handover</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">5</span>%
              </div>
              <div class="payment__slider-title">12 Month After Handover</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">5</span>%
              </div>
              <div class="payment__slider-title">15 Month After Handover</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">5</span>%
              </div>
              <div class="payment__slider-title">18 Month After Handover</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">5</span>%
              </div>
              <div class="payment__slider-title">21 Month After Handover</div>
            </div>
          </div>
          <div class="payment__slider-slide swiper-slide">
            <div class="payment__slider-content">
              <div class="payment__slider-value">
                <span class="payment__slider-value-num">5</span>%
              </div>
              <div class="payment__slider-title">24 Month After Handover</div>
            </div>
          </div>
        </div>
        <div class="payment__progress"></div>
        <div class="swiper-pagination-wrapper">
          <div class="swiper-pagination-line"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="payment__row">
        <div class="payment__col title-block">
          <h3 class="payment__col-title main-title">
            Payment in cryptocurrency
          </h3>
          <p class="payment__col-text main-text">
            Keturah Reserve offers the option of buying their property in
            cryptocurrency. Accepted currencies:
          </p>
        </div>
        <div class="payment__col">
          <ul class="payment__col-list">
            <li class="payment__col-list-item main-text">USDT</li>
            <li class="payment__col-list-item main-text">Bitcoin-BTC</li>
            <li class="payment__col-list-item main-text">Ethereum-ETH</li>
            <li class="payment__col-list-item main-text">USDC</li>
            <li class="payment__col-list-item main-text">Polygon-MATIC</li>
          </ul>
        </div>
        <div class="payment__col">
          <ul class="payment__col-list">
            <li class="payment__col-list-item main-text">Ripple-XRP</li>
            <li class="payment__col-list-item main-text">Litecoin-LTC</li>
            <li class="payment__col-list-item main-text">Bitcoin Cash -BCH</li>
            <li class="payment__col-list-item main-text">Chainlink-Link</li>
            <li class="payment__col-list-item main-text">Sandbox-SAND</li>
          </ul>
        </div>
        <div class="payment__col">
          <ul class="payment__col-list">
            <li class="payment__col-list-item main-text">Uniswap-UNI</li>
            <li class="payment__col-list-item main-text">Compound-COMP</li>
            <li class="payment__col-list-item main-text">Chiliz-CHZ</li>
            <li class="payment__col-list-item main-text">Fantom Token-FTM</li>
            <li class="payment__col-list-item main-text">Stellar Lumens-XLM</li>
          </ul>
        </div>
        <div class="payment__col">
          <ul class="payment__col-list">
            <li class="payment__col-list-item main-text">AAVE</li>
            <li class="payment__col-list-item main-text">Avalanche-AVAX</li>
            <li class="payment__col-list-item main-text">Maker-MKR</li>
            <li class="payment__col-list-item main-text">Yearn Finance-YFI</li>
            <li class="payment__col-list-item main-text">EOSIO-EOS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
