<section class="amenities">
  <div class="amenities__container">
    <div class="amenities__text">
      <h2 class="amenities__sub">AMENITIES</h2>
      <h3 class="amenities__title">INCLUSIVE SERVICE</h3>
    </div>
    <div class="amenities__accordion">
      <div class="amenities__accordion-item">
        <div class="amenities__accordion-head">
          <h4 class="amenities__accordion-title">KIDS' PLAY SPACE</h4>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.05 4L4 5.05L16.45 17.5H9.1V19H19V9.1H17.5V16.45L5.05 4Z"
              fill="black"
            />
          </svg>
        </div>
        <div class="amenities__accordion-body">
          <div class="amenities__accordion-content">
            <p>
              The Kids’ Play Space with textile playground sculptures by the
              award-winning artist, Toshiko MacAdam.
            </p>
            <ul class="custom-list">
              <li>Shaded organic kids’ pool and play area</li>
              <li>Playground for babies and toddlers</li>
              <li>Playground for 7- to 14-year-olds</li>
              <li>Kids Bio Living Farm</li>
            </ul>
          </div>
          <div class="amenities__accordion-imgs">
            <div class="amenities__accordion-img">
              <img
                src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/amenities-3.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="amenities__accordion-item">
        <div class="amenities__accordion-head">
          <h4 class="amenities__accordion-title">HEALTH SPACE</h4>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.05 4L4 5.05L16.45 17.5H9.1V19H19V9.1H17.5V16.45L5.05 4Z"
              fill="black"
            />
          </svg>
        </div>
        <div class="amenities__accordion-body">
          <div class="amenities__accordion-content">
            <ul class="custom-list">
              <li>Sauna</li>
              <li>Spa zones</li>
              <li>Beauty salon for Women and Men</li>
            </ul>
          </div>
          <div class="amenities__accordion-imgs">
            <div class="amenities__accordion-img">
              <img
                src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/amenities-4.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="amenities__accordion-item">
        <div class="amenities__accordion-head">
          <h4 class="amenities__accordion-title">WELL-BEING</h4>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.05 4L4 5.05L16.45 17.5H9.1V19H19V9.1H17.5V16.45L5.05 4Z"
              fill="black"
            />
          </svg>
        </div>
        <div class="amenities__accordion-body">
          <div class="amenities__accordion-content">
            <ul class="custom-list">
              <li>Water bike pool</li>
              <li>Indoor invigorate Space gym with oxygen tunnel entryway</li>
              <li>Outdoor invigorate Space gym</li>
            </ul>
          </div>
          <div class="amenities__accordion-imgs">
            <div class="amenities__accordion-img">
              <img
                src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/amenities-2.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="amenities__accordion-item">
                <div class="amenities__accordion-head">
                    <h4 class="amenities__accordion-title">FOR PETS</h4><svg width="24" height="24" viewBox="0 0 24 24"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.05 4L4 5.05L16.45 17.5H9.1V19H19V9.1H17.5V16.45L5.05 4Z" fill="black" />
                    </svg>
                </div>
                <div class="amenities__accordion-body">
                    <div class="amenities__accordion-content">
                        <p> The Kids’ Play Space with textile playground sculptures by the award-winning artist, Toshiko
                            MacAdam.</p>
                        <ul class="custom-list">
                            <li>Shaded organic kids’ pool and play area</li>
                            <li>Playground for babies and toddlers</li>
                            <li>Playground for 7- to 14-year-olds</li>
                            <li>Kids Bio Living Farm</li>
                        </ul>
                    </div>
                    <div class="amenities__accordion-imgs">
                        <div class="amenities__accordion-img">
                            <img loading="lazy" src="https://d3b6muno9lbfvx.cloudfront.net/keturah/img/amenities-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
  </div>
  <!-- @@include('./form.html',{})  -->
</section>
