<section class="intro-section">
	<div class="intro-section__bg">
		<img class="intro-section__bg-img" loading="lazy" alt="" />
	</div>
	<div class="intro-section__inner">
		<div class="intro-section__pl"></div>
		<div class="intro-section__container">
			<div class="intro-section__info intro-info">
				<div class="intro-info__list">
					<!-- <div class="intro-info__item">
						<div class="intro-info__value">types</div>
						<div class="intro-info__name">2 - bedroom</div>
					</div> -->
					<div class="intro-info__item">
						<div class="intro-info__value">minimal area</div>
						<div class="intro-info__name">5 381 sq. ft.</div>
					</div>
					<div class="intro-info__item">
						<div class="intro-info__value">last payment</div>
						<div class="intro-info__name">2028</div>
					</div>
				</div>
			</div>

			<h1 class="intro-section__text">
				<span class="intro-section__sub-title">Keturah reserve</span>
				<span class="intro-section__title">Villas</span>
			</h1>

			<div class="intro-section__btn-3d">
				<a data-modal360="modal360-villas.html" class="btn-3d cursor-hide">
					<div class="btn-3d__circle">
						<svg class="btn-3d__circle_static" viewBox="0 0 120 120" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
							<circle cx="60" cy="60" r="59" stroke="currentColor" stroke-width="1" fill="none" />
						</svg>
						<svg class="btn-3d__circle_hover" viewBox="0 0 120 120" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
							<circle cx="60" cy="60" r="59" stroke="currentColor" stroke-width="1" fill="none" />
						</svg>
						3D
					</div>
					<div class="btn-3d__text">Community view</div>
				</a>
			</div>

			<button class="intro-scroll-down" type="button">
				<div class="intro-scroll-down__line"></div>
				<div class="intro-scroll-down__text">scroll</div>
			</button>
		</div>
	</div>
</section>
