.scrollto-landmarks-wrap {
  position: relative;
  height: 0;
  width: 100%;
}
.scrollto-landmarks-wrap .scrollto-landmarks {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}

.landmarks {
  position: relative;
  overflow: hidden;
  margin-top: -100vh;
  z-index: 20;
}
.landmarks__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.landmarks__svg1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 1s ease 0s;
}
@media (max-width: 991.98px) {
  .landmarks__svg1 {
    width: 600px;
    height: 600px;
  }
}
@media (max-width: 767.98px) {
  .landmarks__svg1 {
    width: 400px;
    height: 400px;
  }
}
.landmarks__svg1.active {
  width: 600px;
  height: 600px;
}
@media (max-width: 991.98px) {
  .landmarks__svg1.active {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 767.98px) {
  .landmarks__svg1.active {
    width: 300px;
    height: 300px;
  }
}
.landmarks__svg2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 1s ease 0s;
}
@media (max-width: 991.98px) {
  .landmarks__svg2 {
    width: 900px;
    height: 900px;
  }
}
@media (max-width: 767.98px) {
  .landmarks__svg2 {
    width: 700px;
    height: 700px;
  }
}
.landmarks__svg2.active {
  width: 1000px;
  height: 1000px;
}
@media (max-width: 991.98px) {
  .landmarks__svg2.active {
    width: 700px;
    height: 700px;
  }
}
@media (max-width: 767.98px) {
  .landmarks__svg2.active {
    width: 600px;
    height: 600px;
  }
}
.landmarks__svg3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  height: 1vh;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}
.landmarks__bgs {
  height: 100vh;
  height: 100svh;
}
.landmarks__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100svh;
  width: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.landmarks__bg:first-child img {
  -o-object-position: center 60px;
     object-position: center 60px;
}
.landmarks__bg.active {
  opacity: 1;
}
.landmarks__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landmarks__cards {
  position: absolute;
  top: 50%;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.landmarks__card {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: var(--vh);
}
.landmarks__card:not(:first-child) .landmarks__img_i {
  scale: 0.57;
}
@media (max-width: 767.98px) {
  .landmarks__card:not(:first-child) .landmarks__img_i {
    scale: 0.9;
    transform: translateY(10%);
    width: 600px;
    height: 600px;
  }
}
.landmarks__img_font {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  -webkit-clip-path: circle(5% at 50% 50%);
          clip-path: circle(5% at 50% 50%);
  z-index: 11;
}
.landmarks__img_font:first-child {
  bottom: 50%;
}
.landmarks__ghost {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  -webkit-clip-path: circle(5% at 50% 50%);
          clip-path: circle(5% at 50% 50%);
}
.landmarks__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: var(--vh);
  transform: translateX(-50%);
  -webkit-clip-path: circle(0 at 50% 50%);
          clip-path: circle(0 at 50% 50%);
}
.landmarks__img_up {
  -o-object-position: center -50px !important;
     object-position: center -50px !important;
}
@media (max-width: 479.98px) {
  .landmarks__img_up {
    -o-object-position: center 20px !important;
       object-position: center 20px !important;
  }
}
.landmarks__img_i {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 60px;
     object-position: center 60px;
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .landmarks__img_i:first-child {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vw;
    height: var(--vh);
  }
}
.landmarks__img_map {
  min-width: 100vw;
  min-height: var(--vh);
}
.text-landmarks {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 14%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: opacity 0.2s ease 0s;
}
.text-landmarks.active, .text-landmarks.active-first {
  transition: opacity 0.5s ease 0s;
  opacity: 1;
}
.text-landmarks__title {
  font-size: 50px;
  color: #fff;
  line-height: 1.2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .text-landmarks__title {
    font-size: 28px;
    line-height: 2;
  }
}
.text-landmarks__sub-title {
  font-size: 16px;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}
.text-landmarks__small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(6%, -50%);
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .text-landmarks__small {
    transform: translate(0%, -50%);
  }
}
.text-landmarks__small p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  width: 200px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  transform: translateX(-120%);
  transition: all 0.3s ease 0s;
}
.text-landmarks__small p.active {
  transform: translateX(10%);
  transition: all 0.5s ease 0s;
}

.location {
  position: relative;
  z-index: 100;
}
.location.hide {
  opacity: 0;
}
.location__container {
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  padding: 30px 15px 0;
  display: flex;
  align-items: flex-end;
}
.location__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 1920px;
  min-height: 1200px;
  transform: translate(-50%, -50%);
}
@media (max-width: 2400px) {
  .location__wrapper {
    transform: translate(-50%, -55%) scale(0.8);
  }
}
@media (max-width: 1920px) {
  .location__wrapper {
    transform: translate(-50%, -58%) scale(0.6);
  }
}
@media (max-width: 1500px) {
  .location__wrapper {
    transform: translate(-50%, -53%) scale(0.45);
  }
}
@media (max-height: 800px) {
  .location__wrapper {
    transform: translate(-50%, -55%) scale(0.45);
  }
}
@media (max-width: 1100px) {
  .location__wrapper {
    transform: translate(-48%, -50%) scale(0.4) !important;
  }
}
@media (max-height: 600px) {
  .location__wrapper {
    transform: translate(-48%, -53%) scale(0.37);
  }
}
@media (max-width: 767.98px) {
  .location__wrapper {
    transform: translate(-44%, -50%) scale(0.76) !important;
  }
}
@media (max-width: 479.98px) {
  .location__wrapper {
    transform: translate(-50%, -56%) scale(0.76) !important;
  }
}
.location__dots {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 0.1s;
  opacity: 0;
}
.location__dots.show {
  transition-duration: 0.3s;
  opacity: 1;
}
.location__scroll {
  width: calc(100vw - 30px);
}
@media (max-width: 767.98px) {
  .location__scroll {
    margin: 0 auto;
    width: 100%;
  }
}
.location__list {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
  position: relative;
  z-index: 5 !important;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .location__list {
    padding-bottom: 0;
    display: block;
    width: 100%;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .show .location__list {
    visibility: visible;
    opacity: 1;
    transform: translateY(-7%);
  }
}
.location__list_btn {
  display: none;
}
@media (max-width: 767.98px) {
  .location__list_btn {
    display: flex;
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    z-index: 6;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
    text-align: center;
    height: 53px;
  }
  .location__list_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ada08c;
    transition: background-color 0.15s ease 0s;
  }
  .location__list_btn p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ada08c;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    padding: 16px 5px;
    line-height: 1.222;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location__list_btn span {
    display: block;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    color: #ada08c;
    width: 35px;
    height: 35px;
  }
  .location__list_btn span svg {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .show .location__list_btn {
    opacity: 0;
    visibility: hidden;
  }
}
.location__item {
  flex: 0 1 276px;
  display: flex;
  position: relative;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.222;
  padding-top: 22px;
  transition: color 0.15s ease 0s;
}
@media (max-width: 1200px) {
  .location__item {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .location__item {
    font-weight: 400;
    width: 100%;
    padding: 16px 5px;
    color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  .show .location__item {
    opacity: 1;
    visibility: visible;
  }
  .location__item:nth-child(2) {
    transition-delay: 0.1s;
  }
  .location__item:nth-child(3) {
    transition-delay: 0.2s;
  }
  .location__item:nth-child(4) {
    transition-delay: 0.3s;
  }
  .location__item:nth-child(5) {
    transition-delay: 0.4s;
  }
}
.location__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.15s ease 0s;
}
.location__item._active {
  color: #ada08c;
}
.location__item._active::before {
  background-color: #ada08c;
}
.location__map_img-desc {
  display: block;
}
@media (max-width: 767.98px) {
  .location__map_img-desc {
    display: none;
  }
}
.location__map_img-mob {
  display: none;
}
@media (max-width: 767.98px) {
  .location__map_img-mob {
    display: block;
  }
}

.dot-location__tip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  transform: scale(1.03);
}
._active .dot-location__tip {
  opacity: 1;
  visibility: visible;
}
.dot-location__main {
  opacity: 1;
  visibility: visible;
  top: 2218px;
  right: 2122px;
  scale: 2.2;
}
@media (max-width: 767.98px) {
  .dot-location__main {
    top: 1200px;
    right: 928px;
    scale: 1.7;
  }
}
.tip-dot {
  display: block;
  background: linear-gradient(88.12deg, rgba(36, 36, 36, 0.0602215) 30.79%, rgba(0, 0, 0, 0.0602215) 39.41%, rgba(142, 142, 142, 0.1) 39.55%, rgba(120, 120, 120, 0.052257) 76.88%, rgba(0, 0, 0, 0) 98.01%), rgba(1, 1, 1, 0.85);
  padding: 4px;
  text-align: center;
  min-width: 127px;
  -webkit-clip-path: polygon(0 82%, 100% 82%, 100% 117%, 0 117%);
          clip-path: polygon(0 82%, 100% 82%, 100% 117%, 0 117%);
  transition: opacity 0.3s ease-in-out, -webkit-clip-path 0.3s ease;
  transition: clip-path 0.3s ease, opacity 0.3s ease-in-out;
  transition: clip-path 0.3s ease, opacity 0.3s ease-in-out, -webkit-clip-path 0.3s ease;
}
@media (max-width: 2400px) {
  .tip-dot {
    transform: scale(1.25);
  }
}
@media (max-width: 1920px) {
  .tip-dot {
    transform: scale(2.223) !important;
  }
}
@media (max-width: 1500px) or (max-height: 800px) {
  .tip-dot {
    transform: scale(2.223) !important;
  }
}
@media (max-height: 600px) {
  .tip-dot {
    transform: scale(2.7) !important;
  }
}
@media (max-width: 767.98px) {
  .tip-dot {
    transform: scale(2.2) !important;
  }
}
@media (max-width: 767.98px) {
  .tip-dot {
    transform: scale(1.3) !important;
  }
}
.show-all .tip-dot_cover {
  opacity: 0;
  visibility: hidden;
}
.tip-dot_s {
  -webkit-clip-path: polygon(0 77%, 100% 77%, 100% 117%, 0 117%);
          clip-path: polygon(0 77%, 100% 77%, 100% 117%, 0 117%);
}
.tip-dot_s:hover {
  -webkit-clip-path: polygon(0 17.5%, 100% 17.5%, 100% 114%, 0 114%) !important;
          clip-path: polygon(0 17.5%, 100% 17.5%, 100% 114%, 0 114%) !important;
}
.tip-dot::after {
  content: "";
  -webkit-clip-path: polygon(49% 82%, 0 0, 100% 0);
          clip-path: polygon(49% 82%, 0 0, 100% 0);
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 20px;
  height: 10px;
  background-color: inherit;
}
.tip-dot:hover {
  z-index: 100 !important;
  -webkit-clip-path: polygon(0 11%, 100% 11%, 100% 114%, 0 114%);
          clip-path: polygon(0 11%, 100% 11%, 100% 114%, 0 114%);
}
.tip-dot:hover .tip-dot__img,
.tip-dot:hover .tip-dot__title_up,
.tip-dot:hover .tip-dot__time {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.tip-dot:hover .tip-dot__title_down {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 479.98px) {
  .tip-dot_hide {
    display: none;
  }
}
.tip-dot__float {
  transform: translateY(13px);
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.tip-dot_s .tip-dot__float {
  transform: translateY(25px);
}
.tip-dot__body {
  text-align: center;
}
.tip-dot__body > *:not(:last-child) {
  margin-bottom: 4px;
}
.tip-dot__img {
  position: relative;
  transform: translateY(100%);
  padding-bottom: 54.6%;
  transition: transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
}
.tip-dot__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.tip-dot__title-wrap {
  overflow: hidden;
}
.tip-dot__title {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  color: white;
  max-width: 122px;
  transition: transform 0.3s ease 0.055s, opacity 0.3s ease 0.055s;
  text-transform: capitalize;
}
.tip-dot__title_up {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
}
.tip-dot__time {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  transform: translateY(30px);
  color: var(--primary);
  transition: transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
}/*# sourceMappingURL=location.css.map */