.psv-navbar::after {
	content: '';
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
	transform: matrix(1, 0, 0, -1, 0, 0);
	z-index: -1;
	pointer-events: none;
}
.gallery360,
.gallery360__popup,
.modals360closebtn {
	transition: opacity 0.3s ease;
}
.hide .gallery360,
.hide .gallery360__popup,
.hide .modals360closebtn {
	opacity: 0 !important;
	pointer-events: none !important;
}
.fullscreen-fake {
	pointer-events: none;
	opacity: 0;
	position: fixed;
	right: 0;
	bottom: 0;
}
@media (max-width: 479.98px) {
	.fullscreen-fake {
		position: fixed;
		right: 5px;
		bottom: 5px;
		width: 30px;
		height: 30px;
		z-index: 200000;
		pointer-events: auto;
	}
}

@media (max-width: 479.97px) {
	.psv-navbar {
		opacity: 0.6 !important;
	}
}
.gallery360 {
	z-index: 2000;
}
@media (max-width: 479.98px) {
	.gallery360__wrapper {
		padding: 0px 6px !important;
	}
	.gallery360__body {
		/* gap: 10px !important; */
		width: 100% !important;
	}
	.psv-zoom-button {
		display: none;
	}

	.psv-navbar {
		opacity: 1 !important;
		background: rgba(61, 61, 61, 0.2) !important;
	}
	.psv-navbar::after {
		opacity: 0.6 !important;
	}
}
